In [14]:
#import modules
import pandas as pd
import json
import matplotlib.pyplot as plt
import numpy as np
import os
import csv
low_memory = False

In [15]:
#read csv data
csv_ca_cdc_path = "./dissolved.csv"
geol_data = pd.read_csv(csv_ca_cdc_path)
geol_data = pd.DataFrame(geol_data)
geol_data.head(20)

    FID  GLG                  Era          Age         Rock_Type  max_myo
0     0                   No Data      No Data               NaN        0
1     1    C        Carboniferous    352.2-299       Sedimentary      352
2     2  CmO  Cambrian-Ordovician  538.8-443.8       Sedimentary      538
3     3   Cv  Cretaceous-Tertiary      145-2.6           Igneous      145
4     4    D             Devonian  419.2-358.9       Sedimentary      419
5     5  H2O                 None                            H2O        0
6     6   JK  Jurassic-Cretaceous     201.4-66       Sedimentary      201
7     7    K           Cretaceous       145-66       Sedimentary      146
8     8  MCi    Mesozoic-Cenozoic        252-0       Metamorphic      252
9     9   Mv             Mesozoic       252-66           Igneous      253
10   10   OS  Ordovician-Silurian  485.4-419.2       Sedimentary      485
11   11    P              Permian  298.9-251.9       Sedimentary      298
12   12   pC          Precambrian    46000-541  Undifferentiated    46000
13   13  PMi   Paleozoic-Mesozoic       541-66       Metamorphic      541
14   14    Q          Quarternary       2.58-0       Sedimentary        2
15   15    S             Silurian  443.8-419.2       Sedimentary      443
16   16    T             Tertiary       66-2.6       Sedimentary       66
17   17   Tr             Triassic  251.9-201.3       Sedimentary      251

In [20]:
geol_data = geol_data.sort_values(by=['max_myo'], ascending=True)
#geol_data.dtypes["max_myo"]
geol_data

    FID  GLG                  Era          Age         Rock_Type  max_myo
0     0                   No Data      No Data               NaN        0
5     5  H2O                 None                            H2O        0
14   14    Q          Quarternary       2.58-0       Sedimentary        2
16   16    T             Tertiary       66-2.6       Sedimentary       66
3     3   Cv  Cretaceous-Tertiary      145-2.6           Igneous      145
7     7    K           Cretaceous       145-66       Sedimentary      146
6     6   JK  Jurassic-Cretaceous     201.4-66       Sedimentary      201
17   17   Tr             Triassic  251.9-201.3       Sedimentary      251
8     8  MCi    Mesozoic-Cenozoic        252-0       Metamorphic      252
9     9   Mv             Mesozoic       252-66           Igneous      253
11   11    P              Permian  298.9-251.9       Sedimentary      298
1     1    C        Carboniferous    352.2-299       Sedimentary      352
4     4    D             Devonian  419.2-358.9       Sedimentary      419
15   15    S             Silurian  443.8-419.2       Sedimentary      443
10   10   OS  Ordovician-Silurian  485.4-419.2       Sedimentary      485
2     2  CmO  Cambrian-Ordovician  538.8-443.8       Sedimentary      538
13   13  PMi   Paleozoic-Mesozoic       541-66       Metamorphic      541
12   12   pC          Precambrian    46000-541  Undifferentiated    46000

In [21]:
geol_data = geol_data.dropna(how="any")
geol_data = geol_data[["Era", "Age", "Rock_Type"]]
geol_data

                    Era          Age         Rock_Type
5                  None                            H2O
14          Quarternary       2.58-0       Sedimentary
16             Tertiary       66-2.6       Sedimentary
3   Cretaceous-Tertiary      145-2.6           Igneous
7            Cretaceous       145-66       Sedimentary
6   Jurassic-Cretaceous     201.4-66       Sedimentary
17             Triassic  251.9-201.3       Sedimentary
8     Mesozoic-Cenozoic        252-0       Metamorphic
9              Mesozoic       252-66           Igneous
11              Permian  298.9-251.9       Sedimentary
1         Carboniferous    352.2-299       Sedimentary
4              Devonian  419.2-358.9       Sedimentary
15             Silurian  443.8-419.2       Sedimentary
10  Ordovician-Silurian  485.4-419.2       Sedimentary
2   Cambrian-Ordovician  538.8-443.8       Sedimentary
13   Paleozoic-Mesozoic       541-66       Metamorphic
12          Precambrian    46000-541  Undifferentiated

In [22]:
geol_data["Combined"] = geol_data["Era"] + ", " + geol_data["Age"] + ", " + geol_data["Rock_Type"]

In [23]:
geol_data = geol_data["Combined"]

In [24]:
end_csv = "./dissolved_concat.csv"
geol_data.to_csv(end_csv)